<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	<!-- This is the first time I config svn successed! -->
	<context:annotation-config />
	<aop:aspectj-autoproxy />
	
	<context:property-placeholder location="classpath:*app.properties" />
	<context:component-scan base-package="com.facetime.spring,com.facetime.cloud.app">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<bean id="remoteLogic" class="com.facetime.spring.logic.RemoteLogicImpl">
		<property name="baseUri" value="${cloud.server.service}" />
	</bean>
	<bean id="defaultLogic" class="com.facetime.spring.logic.EmptyLogic"></bean>

	<!-- <bean id="compass" class="org.compass.spring.LocalCompassBean"> <property 
		name="classMappings"> <list> <value>com.shop.domain.product.ProductInfo</value> 
		<value>com.shop.domain.product.Brand</value> <value>com.shop.domain.product.ProductStyle</value> 
		<value>com.shop.domain.product.ProductType</value> </list> </property> <property 
		name="compassSettings"> <props> <prop key="compass.engine.analyzer.default.type">net.paoding.analysis.analyzer.PaodingAnalyzer</prop> 
		<prop key="compass.engine.connection">file://d:/index</prop> 在内存中建立索引 <prop 
		key="compass.engine.connection">ram://index</prop> <prop key="compass.engine.highlighter.default.formatter.simple.pre"><![CDATA[<font 
		color='red'>]]></prop> <prop key="compass.engine.highlighter.default.formatter.simple.post"><![CDATA[</font>]]></prop> 
		<prop key="compass.transaction.factory">org.compass.spring.transaction.SpringSyncTransactionFactory 
		</prop> </props> </property> <property name="transactionManager" ref="transactionManager" 
		/> </bean> 自动完成 索引的添加/更新/删除操作 <bean id="compassGps" class="org.compass.gps.impl.SingleCompassGps" 
		init-method="start" destroy-method="stop"> <property name="compass" ref="compass" 
		/> <property name="gpsDevices"> <list> 设置hibernate驱动 <bean class="org.compass.gps.device.hibernate.dep.Hibernate3GpsDevice"> 
		<property name="name" value="hibernateDevice" /> <property name="sessionFactory" 
		ref="sessionFactory" /> <property name="mirrorDataChanges" value="true" /> 
		</bean> </list> </property> </bean> -->
</beans>